* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: lightgray;
}

a hover {
  color: blue;
}

body {
  /* To provide background colour in entire app */
  background-color: #282c34;

  /* To provide text color in entire app */
  color: white;

  /* To set max width of all the pages */
  max-width: 1400px;

  /* To align all things in center for the width set above */
  margin: 0 auto;
}

.match-winner {
  background-color: #08bd63;
}

.match-looser {
  background-color: #6a2135;
}

.match-abandoned {
  background-color: #e38627;
}
