.latest-match-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  padding: 10px 0px 10px 10px;
}

.other-team-header {
  font-size: 1.4rem;
}

.match-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}

.leftPanel {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-self: left;
  align-self: left;
}

.rightPanel {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  text-align: right;
  justify-self: end;
  align-self: end;
}

.match-result {
  padding: 0px 0px 10px 10px;
  font-size: 0.8rem;
}

.each-detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  padding: 5px 10px 5px 10px;
}
