.match-page {
  display: grid;
  grid-template-columns: 1fr 10fr;
  column-gap: 50px;
  padding: 50px;
}

.match-details-header {
  padding: 10px;
  text-align: center;
}

.each-match {
  padding: 20px;
}
