.TeamPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-auto-rows: auto;
  column-gap: 10px;
  padding: 20px 0px 50px 0px;
}

.TeamName {
  grid-column: span 3;
  justify-self: start;
}

.btn-position {
  justify-self: end;
}

.TeamName h1 {
  font-size: 4rem;
}

.WinLoss {
  justify-self: center;
  align-self: center;
  padding-right: 20px;
}

.LatestMatch {
  grid-column: span 3;
  width: 850px;
  justify-self: start;
  align-self: start;
  padding: 20px 0px 20px 0px;
}

.header {
  padding: 20px 0px 20px 0px;
}
